.bsr-toogle-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.bsr-toogle-wrapper--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Hide native checkbox  */
.bsr-toogle__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Toggle */
.bsr-toogle {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--bsr-color-toggle-off);
  border-radius: 999px;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

/* Thumb */
.bsr-toogle__thumb {
  position: absolute;
  top: 50%;
  left: 3px;
  border-radius: 50%;
  background-color: var(--bsr-color-white-soft-light);
  box-shadow: 0px 2px 4px 0px var(--bsr-shadow-toogle-color);
  transform: translateY(-50%);
  transition: transform 0.2s ease;
}

.bsr-toogle--small {
  width: 36px;
  height: 20px;
}

.bsr-toogle--small .bsr-toogle__thumb {
  width: 14px;
  height: 14px;
}

.bsr-toogle__input:checked + .bsr-toogle--small .bsr-toogle__thumb {
  transform: translate(16px, -50%);
}

.bsr-toogle--medium {
  width: 44px;
  height: 24px;
}

.bsr-toogle--medium .bsr-toogle__thumb {
  width: 18px;
  height: 18px;
}

.bsr-toogle__input:checked + .bsr-toogle--medium .bsr-toogle__thumb {
  transform: translate(20px, -50%);
}

.bsr-toogle--large {
  width: 52px;
  height: 28px;
}

.bsr-toogle--large .bsr-toogle__thumb {
  width: 22px;
  height: 22px;
}

.bsr-toogle__input:checked + .bsr-toogle--large .bsr-toogle__thumb {
  transform: translate(22px, -50%);
}

.bsr-toogle__input:checked + .bsr-toogle {
  background-color: var(--bsr-color-primary);
}

.bsr-toogle__input:disabled + .bsr-toogle {
  cursor: not-allowed;
}
